@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-size: 20px;
    background-color: #0B0B0B;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body.bg-custom {
    background-image: url('/src/assets/images/layouts/BG.svg');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}
